{% extends 'base.html.twig' %}

{% block title %}Service index{% endblock %}

{% block body %}
    <h1>Service index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_centre_medical</th>
                <th>Nom_patient</th>
                <th>Service</th>
                <th>Matricule</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.id }}</td>
                <td>{{ service.nomCentreMedical }}</td>
                <td>{{ service.nomPatient }}</td>
                <td>{{ service.service }}</td>
                <td>{{ service.matricule }}</td>
                <td>
                    <a href="{{ path('service_show', {'id': service.id}) }}">show</a>
                    <a href="{{ path('service_edit', {'id': service.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('service_new') }}">Create new</a>
{% endblock %}
