{% include 'tempClient.html.twig' with{'iduser':iduser} %}

<div class="box">
    <div class="box-header">
        <h1 style ="margin-bottom: 2%; text-align: center; color: #d11414 ;  " > Vos Paniers </h1>
        <div class="col-sm-8"></div>






    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>

                <th>Nom Parapharmacie</th>
                <th>Prix des produits</th>
                <th>TVA</th>
                <th>Prix totale</th>
                <th>Affiche Panier</th>



            </tr>
            </thead>
            <tbody>
            <tr {% for p in panier %}>


                <td>{{ p.parapharmacie.getNomPara }}</td>
                <td>{{ p.prixTot }} DT</td>
                <td>{{ p.tvaTot }} DT</td>
                <td>{{ p.prixFinale}} DT</td>
                <td><a href="{{ path('afficheClienListProduit',{'idpanier':p.id , 'iduser':iduser}) }}" class="btn btn-block btn-outline-danger" role="button">Afficher Panier</a></td>

            </tr {% endfor %}>
                </tbody>



        </table>
    </div>
    <!-- /.box-body -->
</div>

{% include 'tempFront2SoinMP.html.twig' %}