<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Sa7ti.Tn - Besoin de soin, Besoin de toi </title>
    <meta name="robots" content="noindex,nofollow">
    <!-- Meta Tags -->
    <meta name="description" content="Angry Studio is a platform for web designers and developers where we share free website templates, UI snippets and high-quality web dev tutorials.">
    <!--  Search Engine Tags -->
    <meta itemprop="name" content="Angry Studio - Free Website Templates, UI Snippets and Web Dev Tutorials">
    <meta itemprop="description" content="Angry Studio is a platform for web designers and developers where we share free website templates, UI snippets and high-quality web dev tutorials.">
    <meta itemprop="image" content="https://angrystudio.com/featured-image.png">
    <!-- Facebook OG Meta Tags -->
    <meta property="og:url" content="https://angrystudio.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Angry Studio - Free Website Templates, UI Snippets and Web Dev Tutorials">
    <meta property="og:description" content="Angry Studio is a platform for web designers and developers where we share free website templates, UI snippets and high-quality web dev tutorials.">
    <meta property="og:image" content="https://angrystudio.com/featured-image.png">
    <!-- Twitter Cards Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Angry Studio - Free Website Templates, UI Snippets and Web Dev Tutorials">
    <meta name="twitter:description" content="Angry Studio is a platform for web designers and developers where we share free website templates, UI snippets and high-quality web dev tutorials.">
    <meta name="twitter:image" content="https://angrystudio.com/featured-image.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css" rel="stylesheet">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
</head>
<body>
<header class="hk-header">
    <nav class="navbar navbar-expand-lg fixed-top navbar-light hk-navbar">
        <div class="container">
            <!--<a class="navbar-brand" href="#"><img src="assets/images/brand.png"></a>-->
            <a class="navbar-brand" href="#"><img style="margin-left: 30%; margin-top: 5%; width: 70%; height: 70% ;" src= "{{ asset('bundles/dist/img/Logo.jpeg')}}" ></a>
            <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse hk-offcanvas" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="far fa-user"></i>Compte</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="{{ asset('/connexion') }}">Se connecter</a>
                            <a class="dropdown-item" href="{{ asset('/inscription') }}">S'inscrire</a>
                            <a class="dropdown-item" href="{{ asset('/inscriptionMed') }}">S'inscrire en tant que médecin</a>
                            <a class="dropdown-item" href="{{ asset('/inscriptionPharmacien') }}">S'inscrire en tant que pharmacien</a>
                            <a class="dropdown-item" href="{{ asset('/inscriptionParapharmacien') }}">S'inscrire en tant que parapharmacien</a>
                            <a class="dropdown-item hollow button primary" href="/inscription/google/"><img  width="15px" style="margin-bottom:3px; font-size: 250px; margin-right:5px" alt="Google login" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                                S'inscrire via Google</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<section class="hero-section hk-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7 order-lg-1 order-xl-1 order-sm-1 order-2">
                <div class="hero-content">
                    <h3 style=" color: #EA3D48; margin-top: 10%;">Besoin de soin, Besoin de toi</h3>
                    <p class="hero-subtitle">Un doute, une inquiétude, besoin d’un conseil santé ? Sa7ti.TN c’est la solution</p>
                    <div class="hero-btns" style="margin-top: 10%;">
                        <a href="#" class="btn btn-main">Contact Us </a>
                    </div>
                </div>
            </div>
            <div class="col-md-5 order-lg-2 order-xl-2 order-sm-2 order-1">
                <div class="hero-image d-flex align-items-center h-100">
                    <img src= "{{ asset('bundles/dist/img/Logo.jpeg')}}" >
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="footer-col">
                    <h3 class="footer-title">About</h3>
                    <p class="mb-0">Un doute, une inquiétude, besoin d’un conseil santé ? Sa7ti.TN c’est la solution</p>
                </div>
            </div>
            <div class="col-md-3 col-lg-2">
                <div class="footer-col">

                </div>
            </div>
            <div class="col-md-3 col-lg-2">
                <div class="footer-col">

                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="footer-col">
                    <h3 class="footer-title">Contact</h3>
                    <p><a href="tel:+14336331111"><i class="fas fa-phone mr-2"></i> +216 00000000</a> </p>
                    <p class="mb-0"><a href="mailto:contact@angrystudio.com"><i class="far fa-envelope mr-2"></i>sahtitnpidev@gmail.com</a> </p>
                </div>
            </div>
        </div>
        <div class="row footer-credits">
            <div class="col-sm-12 col-md-6 justify-content-center align-self-center">
                <p class="mb-0">2021 &copy; <a href="#">Sa7ti.TN</a></p>
            </div>
        </div>
    </div>
</footer>
<script src="{{ asset('assets/js/jquery.min.js') }}"></script>
<script src="{{ asset('https://code.jquery.com/jquery-3.2.1.slim.min.js') }}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js') }}" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="{{ asset('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js') }}" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{{ asset('https://kit.fontawesome.com/9b697a719a.js') }}" crossorigin="anonymous"></script>
<script>
    $(function () {
        'use strict'

        $('[data-toggle="offcanvas"]').on('click', function () {
            $('.hk-offcanvas').toggleClass('open')
        })
    })
</script>
</body>
</html>
