<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminPanel| Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="{{ asset('bundles/bower_components/bootstrap/dist/css/bootstrap.min.css')}}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('bundles/bower_components/font-awesome/css/font-awesome.min.css')}}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="{{ asset('bundles/bower_components/Ionicons/css/ionicons.min.css')}}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('bundles/dist/css/AdminLTE.min.css') }}">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{{ asset('bundles/dist/css/skins/_all-skins.min.css')}}">
    <!-- Morris chart -->
    <link rel="stylesheet" href="{{ asset('bundles/bower_components/morris.js/morris.css')}}">
    <!-- jvectormap -->
    <link rel="stylesheet" href="{{ asset('bundles/bower_components/jvectormap/jquery-jvectormap.css')}}">
    <!-- Date Picker -->
    <link rel="stylesheet" href="{{ asset('bundles/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css')}}">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="{{ asset('bundles/bower_components/bootstrap-daterangepicker/daterangepicker.css')}}">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="{{ asset('bundles/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css')}}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <![endif]-->
    <style> .btn-primary {
            background-color: #d11414 !important;
            border-color: #d11414 !important;
            border-radius: 6px;

        }
        .btn-primary:hover {
            opacity: 0.8;
            background-color: #d11414 !important;
            border-color: #d11414 !important;
            border-radius: 6px;
        }
        .btn-primary:active {
            background-color: #d11414 !important;
            border-color: #d11414 !important;
            border-radius: 6px;
        }
    </style>
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js') }}" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>

<div class="wrapper">

    <header class="main-header" >

        <!-- Logo -->

        <a href="/admin" class="logo" style="background-color: grey; color:black;">

            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>A</b>LT</span>

            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Admin</b>Panel</span>

        </a>

        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" style="background-color: grey;" >
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>


            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->
                                        <!-- Notifications: style can be found in dropdown.less -->

                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{{ asset('bundles/dist/img/user2-160x160.jpg')}}" class="user-image" alt="User Image">
                            <span class="hidden-xs">Emna Besbes</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header" style="background-color: grey;">
                                <img src="{{ asset('bundles/dist/img/user2-160x160.jpg')}}" class="img-circle" alt="User Image">

                                <p>
                                    Emna Besbes - admin/Web Developer
                                    <!--small >Member since Nov. 2012</small-->
                                </p>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-right">
                                    <a href="{{ asset ('/deconnexion') }}" class="btn btn-primary">Se déconnecter</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- Control Sidebar Toggle Button -->

                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar" style="background-color: grey; color:white">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="{{ asset('bundles/dist/img/user2-160x160.jpg')}}" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>Emna Besbes</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>Gestion des utilisateurs</span>
                        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>  </a>
                    <ul class="treeview-menu">
                        <li><a href="/Patients"><i class="fa fa-circle-o"></i> Gestion des patients</a></li>
                        <li><a href="/Medecins"><i class="fa fa-circle-o"></i> Gestion des médecins</a></li>
                        <li><a href="/Parapharmaciens"><i class="fa fa-circle-o"></i> Gestion des parapharmaciens</a></li>
                        <li><a href="/Pharmaciens"><i class="fa fa-circle-o"></i> Gestion des pharmaciens</a></li>
                        <li><a href="/afficherStatUser"><i class="fa fa-circle-o"></i> Statistiques des Utilisateurs</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>Gestion des MP</span>
                        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>  </a>
                    <ul class="treeview-menu">
                        <li><a href="/afficherCategorieSoinMP"><i class="fa fa-circle-o"></i> Gestion des catégories soins MP</a></li>
                        <li><a href="/afficherSoinMP"><i class="fa fa-circle-o"></i> Gestion des soins MP</a></li>
                        <li><a href="/afficherStatSoinMP"><i class="fa fa-circle-o"></i> Statistiques des Soins MP</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>Gestion des Reclamations</span>
                        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>  </a>
                    <ul class="treeview-menu">
                        <li><a href="/afficherreclamation"><i class="fa fa-circle-o"></i> Gestion des Reclamations</a></li>
                        <li><a href="/affichertypereclamation"><i class="fa fa-circle-o"></i> Gestion des Types Reclamations</a></li>
                    </ul>
                </li>

                <li><a href="/afficheRegions"><i class="fa fa-book"></i> <span>Gestion des Regions</span></a></li>
                <li><a href="/affichePara"><i class="fa fa-book"></i> <span>Gestion des Parapharmacies</span></a></li>
                <li><a href="/afficheBackProduit"><i class="fa fa-book"></i> <span>Liste des Produits</span></a></li>

		<li class="treeview">
                    <a href="#">
                        <i class="fa fa-question" aria-hidden="true"></i> <span>Gestion Forums</span>
                        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>  </a>
                    <ul class="treeview-menu">
                        <li><a href="/afficherCategoriePost"><i class="fa fa-circle-o"></i> Gestion des catégories posts</a></li>
                        <!--<li><a href="/afficherDiscussion"><i class="fa fa-circle-o"></i> Gestion des discussions</a></li>-->

                    </ul>
                </li>
		<li class="treeview">
                    <a href="#">
                        <i class="fa fa-calendar" aria-hidden="true"></i> <span>Calendar</span>
                        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>  </a>
                    <ul class="treeview-menu">

                        <li><a href="/calendar"><i class="fa fa-calendar"></i> Afficher </a></li>
                        <li><a href="/calendar/new"><i class="fa fa-calendar"></i> Ajouter </a></li>

                    </ul>
                </li>
		<li><a href="/centreMedical/"><i class="fa fa-book"></i> <span>Gestion des centres médicaux</span></a></li>


            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

