<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="footer-col">
                    <h3 class="footer-title">About</h3>
                    <p class="mb-0">Un doute, une inquiétude, besoin d’un conseil santé ? Sa7ti.TN c’est la solution</p>
                </div>
            </div>
            <div class="col-md-3 col-lg-2">
                <div class="footer-col">
                    <h3 class="footer-title">Products</h3>
                    <ul class="list-unstyled footer-list mb-0">
                        <li><a href="#">CRM</a></li>
                        <li><a href="#">eCommerce</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-lg-2">
                <div class="footer-col">

                </div>
            </div>
            <div class="col-md-3 col-lg-2">
                <div class="footer-col">

                </div>
            </div>
        </div>
        <div class="row footer-credits">
            <div class="col-sm-12 col-md-6 justify-content-center align-self-center">
                <p class="mb-0">2021 &copy; <a href="#">Sa7ti.TN</a></p>
            </div>
        </div>
    </div>
</footer>
<script src="{{ asset('assets/js/jquery.min.js') }}"></script>
<script src="{{ asset('https://code.jquery.com/jquery-3.2.1.slim.min.js') }}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js') }}" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="{{ asset('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js') }}" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{{ asset('https://kit.fontawesome.com/9b697a719a.js') }}" crossorigin="anonymous"></script>
<script>
    $(function () {
        'use strict'

        $('[data-toggle="offcanvas"]').on('click', function () {
            $('.hk-offcanvas').toggleClass('open')
        })
    })
</script>
</body>
</html>
