





<div class="box">
    <div class="box-header">
        <h1 style ="margin-bottom: 2%; text-align: center; color: #d11414 ;  " align="center" > Commande </h1>
        <div class="col-sm-8"></div>






    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table id="example1" class="table  table-striped table-hover">
            <thead>
            <tr>

                <th>Nom Client</th>

                <th>Nom Produit</th>
                <th>Prix unitaire</th>
                <th>TVA Produit</th>
                <th>Quantite</th>
                <th>TVA Totale</th>
                <th>Prix </th>
                <th>Prix totale</th>





            </tr>
            </thead>
            <tbody>
            <tr {% for l in listProduit %}>


                <td>{{ l.user.getNom }} {{ l.user.getPrenom }}</td>
                {% for p in l.produit %}

                    <td>{{p.nomProduit}}</td>
                    <td>{{ p.getPrixProduit}} DT</td>
                    <td>{{ p.getTva}} %</td>


                    <td>{{ l.qte }} pieces</td>
                    <td>{{ l.tvaTot }} DT</td>
                    <td>{{ l.prixTot}} DT</td>
                    <td>{{ l.prixFinale}} DT</td>


                {% endfor %}
            </tr {% endfor %}>
            </tbody>

        </table>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-10">
            </div>
            <div class="col-2">
                <dl class="dl-horizontal pull-right">
                    <dt style="color: black">Prix des produits :</dt>
                    <dd>{{ panier.prixTot }} DT</dd>

                    <dt style="color: black">TVA Totale :</dt>
                    <dd>{{ panier.tvaTot }} DT</dd>

                    <dt style="color: black">Prix Totale :</dt>
                    <dd style="color: red">{{ panier.prixFinale}} DT</dd>

                </dl>

            </div>
        </div>
    </div>



    <!-- /.box-body -->
</div>


