{% include 'tempFront1SoinMP.html.twig' %}

<section class="services-section hk-section section-bg" >
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-title" id="idMP">Médecine Parallèle</h2>
           </div>
            <img style="   width:100% ; height: 100% ;" src="{{ asset('bundles/dist/img/medPA.jpg')}}">
            <div class="col-12 text-center">
                <div style="width:80%; margin-left:10%; margin-top:3%;">{{ form(formSearch,{'attr': {'novalidate': 'novalidate'}}) }}</div>
            </div>

            {% for CSMP in listCategorieSoinMPs %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="service-box text-center">
                    <div class="service-box-icon"><img style=" padding-right: 2px; padding-left: 2px;  width:80px ; hight: 80px ;" src="{{ asset('uploads/' ~ CSMP.getLienIconeCSMP())}}"></div>
                    <h3 class="service-box-title">{{ CSMP.libelleCategorieSoinMP }}</h3>
                    <a href="{{ path("afficherSoinMPs",{'id':CSMP.getId() } ) }}" class="btn btn-main-outline mt-2">Visiter<i class="fas fa-chevron-right"></i></a>
            </div>
            </div>
            {% endfor %}
        </div>
</section>


{% include 'tempFront2SoinMP.html.twig' %}
