{% include 'temp1.html.twig' %}

<style>
    button {
        color: #FFFFFF;
        background-color: #d11414;
        border-color: #d11414;
        border-radius: 6px;
    }
    button:hover {
        color: #FFFFFF;
        opacity: 0.8;
        background-color: #d11414;
        border-color: #d11414;
        border-radius: 6px;
    }
    button:active {
        color: #FFFFFF;
        background-color: #d11414;
        border-color: #d11414;
        border-radius: 6px;
    }

</style>
<div class="box">
    <div class="box-header">
        <h1 style ="margin-bottom: 2%; text-align: center; color: #d11414 ;  " > Gestion Des types de reclamations </h1>
        <form action="  {{path('ajoutertypereclamation')}}  "><button>Ajouter</button></form>

    </div>
    <!-- /.box-header -->
    <div class="box-body">

        <li>     <a href="{{path('afficherpdf') }}"> Imprimer </a> </li>
        <table id="tableac" class="table table-bordered table-striped" >
            <thead>
            <tr>

                <th>Id</th>

                <th>type reclamation</th>
                <th>Supprimer</th>
                <th>modifier</th>
            </tr>
            </thead>

            <tbody>


<li>
            <a href="{{path('tri') }}"> TRI par type  </a></li>
<tr>          <div><input type="text" id="search" class="form-control" placeholder="Search"></div>
                <script src="{{ asset('assets/js/jquery.min.js') }}"></script>

            {% for C in listtypereclamation %}

                    <td>{{ C.id }}</td>
                    <td>{{ C.typeReclamation }}</td>

                    <td><form action=" {{path('supprimertypereclamation',{id:C.id})}} "><button>Supprimer</button></form></td>
                    <td><form action=" {{path('modifiertypereclamation',{id:C.id})}} "><button>modifier</button></form></td>
                </tr>
                <script>
                    $(document).ready(function(){
                        $('#search').keyup(function(){
                            search_table($(this).val());
                        });
                        function search_table(value){
                            $('#tableac tbody tr').each(function(){
                                var found = 'false';
                                $(this).each(function(){
                                    if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                                    {
                                        found = 'true';
                                    }
                                });
                                if(found == 'true')
                                {
                                    $(this).show();

                                }
                                else
                                {
                                    $(this).hide();

                                }
                            });
                        }
                    });
                </script>










            {% endfor %}

            </tbody>

        </table>
    </div>
    <!-- /.box-body -->
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js" type="text/javascript"></script>
<script src="https://code.highcharts.com/highcharts.js" type="text/javascript"></script>
<script src="http://code.highcharts.com/modules/exporting.js" type="text/javascript"></script>

<script type="text/javascript">
    {{ chart(chart) }}
</script>

<div id="piechart" style="min-width: 400px; height: 400px; margin: 0 auto"> </div>


{% include 'temp2.html.twig' %}