{% include 'temp1.html.twig' %}

<div class="container">

    <div class="form-group">
        {{ form_start(editmedicament) }}
        <h1> Modifier un médicament </h1>
        <div class="form-group">
            {{ form_label(editmedicament.nomMedicament,"Nom Médicament") }}
            {{ form_widget(editmedicament.nomMedicament) }}
        </div>
        <div class="form-group">
            {{ form_label(editmedicament.descmedicament,"Description") }}
            {{ form_widget(editmedicament.descmedicament) }}
        </div>
        <div class="form-group">
            {{ form_label( editmedicament.dispo , "Disponibilité" )}}
            {{ form_widget( editmedicament.dispo ) }}
        </div>

        <div class="form-group">
            {{ form_label( editmedicament.img_medicament , "Image du médicament" )}}
            {{ form_widget( editmedicament.img_medicament ) }}
        </div>

        <div class="form-group">
            {{ form_label( editmedicament.dateModif, "Date de modification" )}}
            {{ form_widget( editmedicament.dateModif ) }}
        </div>
        <div class="form-group">
            {{ form_label( editmedicament.captchaCode, "Are you a robot ?" )}}
            {{ form_widget( editmedicament.captchaCode ) }}
        </div>
        {{ form_end(editmedicament) }}
    </div>
</div>