{% include 'temp1.html.twig' %}
<div style ="margin-left: 1%; padding-top: 5%">

    {{ form_start(formModifierSoinMP,{'attr': {'novalidate': 'novalidate'}} ) }}

    <h1 style ="margin-bottom: 2%; text-align: center; color: #d11414 ;  " > Modifier Soin Médecine Parallèle  </h1>
    {# { form_errors(formModifierSoinMP.titreSoinMP) }#}
    {{ form_label(formModifierSoinMP.titreSoinMP,"Titre") }}
    {{ form_widget(formModifierSoinMP.titreSoinMP) }}

    {# { form_errors(formModifierSoinMP.descriptionSoinMP)}#}
    {{ form_label(formModifierSoinMP.descriptionSoinMP,"Description") }}
    {{ form_widget(formModifierSoinMP.descriptionSoinMP)}}

    {# { form_errors(formModifierSoinMP.adresseSoinMP)}#}
    {{ form_label(formModifierSoinMP.adresseSoinMP,"Adresse") }}
    {{ form_widget(formModifierSoinMP.adresseSoinMP)}}

    {# { form_errors(formModifierSoinMP.CategorieSoinMP)}#}
    {{ form_label(formModifierSoinMP.CategorieSoinMP,"Catégorie") }}
    {{ form_widget(formModifierSoinMP.CategorieSoinMP)}}

    {{ form_end(formModifierSoinMP) }}
</div>
{% include 'temp2.html.twig' %}