
{% include 'temp1.html.twig' %}
<style>
    button {
        color: #FFFFFF;
        background-color: #d11414;
        border-color: #d11414;
        border-radius: 6px;
    }
    button:hover {
        color: #FFFFFF;
        opacity: 0.8;
        background-color: #d11414;
        border-color: #d11414;
        border-radius: 6px;
    }
    button:active {
        color: #FFFFFF;
        background-color: #d11414;
        border-color: #d11414;
        border-radius: 6px;
    }

</style>
<div class="box">
    <div class="box-header">
        <h1 style ="margin-bottom: 2%; text-align: center; color: #d11414 ;  " > Gestion des médecins</h1>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Photo de profil</th>
                <th>Id</th>
                <th>Login</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>Sexe</th>
                <th>Matricule fiscale</th>
                <th>Spécialité</th>
                <th>Supprimer</th>

            </tr>
            </thead>
            <tbody>
            {% for P in listMedecins %}

                <tr>
                    <td><img style=" padding-right: 2px; padding-left: 2px;  width:60px ; hight: 60px ;" src="{{ asset('uploads/' ~ P.getLienImageUser())}}"></td>
                    <td>{{P.id}}</td>
                    <td>{{P.login}}</td>
                    <td>{{P.nom}}</td>
                    <td>{{P.prenom}}</td>
                    <td>{{P.email}}</td>
                    <td>{{P.adresseUser}}</td>
                    <td>{{P.telephone}}</td>
                    <td>{{P.sexe}}</td>
                    <td>{{P.matriculeFiscale}}</td>
                    <td>{{P.specialite}}</td>
                    <td><form action=" {{path('supprimerMedecin',{id:P.id})}} "><button>Supprimer</button></form></td>
                </tr>

            {% endfor %}
            </tbody>

        </table>
    </div>
    <!-- /.box-body -->
</div>
{% include 'temp2.html.twig' %}
