{% include 'tempClient.html.twig' %}


<section class="hero-section hk-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7 order-lg-1 order-xl-1 order-sm-1 order-2">
                <div class="hero-content">
                    <h3 style=" color: #EA3D48; margin-top: 10%;">{{ parapharmacie.nomPara }}</h3>
                    <h5>Region:{{ parapharmacie.region.region }}</h5>
                    <h5>Adresse:{{ parapharmacie.adressePara }}</h5>
                    <h5>Numero Tel:{{ parapharmacie.telPara }}</h5>
                </div>
            </div>
            <div class="col-md-5 order-lg-2 order-xl-2 order-sm-2 order-1">
                <div class="hero-image d-flex align-items-center h-100">
                    <img src= "{{ asset('uploads/' ~ parapharmacie.getLienImageP)}}" >
                </div>
            </div>
        </div>
    </div>
</section>



<section class="services-section hk-section section-bg" >

    <nav class="navbar navbar-static-top text-center" style="background-color: #d1b1b9;">
        <h1></h1>
        <h3 class=" "style="color: white ;text-transform: uppercase ; font-family: 'Tempus Sans ITC';  " >Bienvenue Dans Notre Parapharmacie</h3>
        <h1></h1>
    </nav>
    <nav class="navbar navbar-expand-lg " style="background-color: #c00a22">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" style="color: #d1b1b9  ;text-transform: uppercase ;font-family: Raleway ;letter-spacing: 0.6rem">Nos Catégorie :</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="classs" class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    {% for c in categorie %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('afficheClienCategorieProduit',{'idpara':parapharmacie.getId , 'idcat':c.getId , 'iduser':iduser}   ) }}" style="color: white  ; font-family: Arial  ; text-transform: capitalize  ">

                                {{ c.categorie }}</a>
                        </li>
                    {% endfor %}


                </ul>




            </div>

        </div>

        <div class="input-group navbar-right.">
            <form method="POST" >

                <input type="text"  name="nomProduit" class="form-control" placeholder="Search" />

                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                </button>

            </form>
        </div>



    </nav>

    <div class="container">
        <h1>Voir Tous Nos Produit</h1>

        <div class="row flex">







            {% for p in produit %}

                <div class="col-3">
                    <div class="card mb-4 " style="background-color: #d1b1b9">
                        <a href="{{ path("afficheProduit",{'idpara':parapharmacie.getId , 'idp':p.getId, 'iduser':iduser } ) }}">

                        <img style="   width:100%; hight: auto ;" src="{{ asset('uploads/' ~ p.getLienImgP)}}" >
                        <div class="card-body">


                        <h3 class="card-title text-danger">{{ p.nomProduit}}</h3>

                        <h3 class="card-text">Quantité : {{ p.quantiteProduit}}</h3>
                        <h3 class="text-danger" style="font-weight: bold ; font-size: 2rem">Prix : {{ p.prixProduit}} DT</h3>



                        </div>
                        </a>
                    </div>
                </div>
            {% endfor %}

        </div>
        <div style="margin-left: 37.2%; margin-top: 5%;">{{ knp_pagination_render(produit) }}</div>
    </div>
</section>

{% include 'tempFront2SoinMP.html.twig' %}